/* Global sytles
-----------------------------*/
body {
    max-width: 100%;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
}

.content-wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}



/* Header sytles
-----------------------------*/
header {
    background-color: #eeedd0;
    padding-left: 10px;
}

header h1 {
    font-size: 4em;
}

/* Featured sytles
-----------------------------*/
.featured {
    background-color: #3B413C;
    color: #F7FFF7;
}

.featured h2 {
    padding-top: 10px;
}

.featured p {
    text-align: justify;
}

.title {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;

}

.vicious-cycles {
    float: left;
    margin-top: 0em;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 300px;
    height: auto;
}

.git-hub {
    padding: 60px 0;
}

.featured a:link {
    text-decoration: none;
    background: cornsilk;
    padding: 4px;
    border-radius: 4px;
}

.featured a:visited {
    text-decoration: none;
    background: cornsilk;
    padding: 4px;
    border-radius: 4px;
}

.featured a:hover {
    text-decoration: none;
    background: rgba(255, 248, 220, 80%);
    padding: 4px;
    border-radius: 4px;
}

/* Experience sytles
-----------------------------*/
.experience {
    clear: both;
    background-color: #349df3;
    color: #F7FFF7;
    margin-top: 0em;
    padding: 10px 10px;
}

.experience img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.left-text {
    text-align: left;
}

/* Education sytles
-----------------------------*/
.education {
    background-color: #fff;
    padding-left: 10px;
}

.education img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

/* Footer sytles
-----------------------------*/
footer {
    background-color: #D38B5D;
    margin: 0 auto;
    text-align: left;
    padding: 20px 10% 20px;
}

footer h2 {
    float: left;
    padding-top: 10px;
    margin-top: 0px;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;

}

footer a:link {
    text-decoration: none;
}