/* Global sytles
-----------------------------*/

@font-face {
    font-family: "My Font";
    src: url(../fonts/Righteous-Regular.ttf);
}

@font-face {
    font-family: "H1 Font";
    src: url(../fonts/CevicheOne-Regular.ttf);
}


body {
    max-width: 100%;
    margin: 0px;
    font-family: "My Font";
    font-size: 1.3em;
}



.content-wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 60px 0;
}



/* Header sytles
-----------------------------*/
header {
    background-color: #eeedd0;
}

header h1 {
    font-family: "H1 Font";
    text-shadow: 4px 4px grey;
    font-size: 6em;
    margin: 0;
}

header h2 {
    text-decoration: underline solid black;
}

/* Featured sytles
-----------------------------*/
.featured {
    background-color: #3B413C;
    color: #F7FFF7;
}

.featured p {
    text-align: justify;
}

.title {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;

}

.vicious-cycles {
    float: left;
    margin-top: 0em;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 300px;
    height: auto;
}

.git-hub {
    clear: both;
}

.git-hub a:link {
    text-decoration: none;
    background: cornsilk;
    padding: 4px;
    border-radius: 4px;
}

.git-hub a:visited {
    text-decoration: none;
    background: cornsilk;
    padding: 4px;
    border-radius: 4px;
}

.git-hub a:hover {
    text-decoration: none;
    background: rgba(255, 248, 220, 80%);
    padding: 4px;
    border-radius: 4px;
}

/* Experience sytles
-----------------------------*/
.experience {
    background-color: #349df3;
    color: #F7FFF7;
    width: 50%;
    height: 500px;
    overflow: auto;
    float: left;
    padding-left: 10px;
}

.experience img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.left-text {
    text-align: left;
}

.company {
    text-decoration: underline solid black;
}

/* Education sytles
-----------------------------*/
.education {
    width: auto;
    height: 500px;
    background-color: #fff;
    overflow: auto;
}

.education img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 56px;
    width: 300px;
    height: auto;
}

/* Footer sytles
-----------------------------*/
footer {
    clear: both;
    background-color: #D38B5D;
    margin: 0 auto;
    text-align: left;
    padding: 20px 10% 20px;
}

footer h2 {
    float: left;
    padding-top: 10px;
    margin-top: 0px;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;

}

footer a:link {
    text-decoration: none;
}